<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/ctj_db</property>
    <property name="hibernate.connection.username">ctj</property>
    <property name="hibernate.connection.password">123456</property>
    <!-- Echo all executed SQL to stdout -->
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="com.ctj.framework.model.entitie.Maestro"/>
    <mapping class="com.ctj.framework.model.entitie.Persona"/>
    <mapping class="com.ctj.framework.model.entitie.Direccion"/>
    <mapping class="com.ctj.framework.model.entitie.Municipio"/>
    <mapping class="com.ctj.framework.model.entitie.MunicipioCalle"/>
    <mapping class="com.ctj.framework.model.entitie.Calle"/>
  </session-factory>
</hibernate-configuration>
